<h1>Notifications</h1>

<table class="list table table-striped table-bordered" >
  <tr>
    <th>Lead Name</th>
    <th>Lead Email</th>
    <th>Recipients</th>
    <th>Status</th>
    <th>Last Updated</th>
  </tr>

<% @notifications.each do |notification| %>
  <tr>
    <td><%= link_to  notification.lead.firstname + ' ' + notification.lead.lastname, edit_lead_path(notification.lead) %></td>
    <td><%= link_to  notification.lead.email, edit_lead_path(notification.lead) %></td>
    <td><%= notification.recipients %></td>
    <td><%= notification.status %></td>
    <td><%= notification.created_at.to_formatted_s(:long) %></td>
  </tr>
<% end %>
</table>


